<div id="{{skin}}">
  <div class="statusBar" ng-show="skin"><span class="step-{{actualStep}}"></span></div>
  <div class="text-right" ng-show="skin">
    <span>{{actualStep}} de 3</span>
  </div>

  <form name="checkoutForm" ng-submit="submit()">
    <div class="alert alert-success fade">
      <strong>Cadastro concluído com sucesso!</strong>
    </div>

    <fieldset>
      <div checkout-field ng-repeat="field in fields" class="form-group checkoutField step-{{field.step}}" ng-show="actualStep == field.step || !skin"  name="{{field.name}}"></div>
    </fieldset>

    <button ng-show="skin" type="button" ng-click="previousStep()" class="btn btn-warning" ng-disabled="isFirstStep">
      Anterior
    </button>

    <button ng-show="!isLastStep && skin" type="button" ng-click="nextStep()" class="btn btn-warning">
      Próximo
    </button>

    <button ng-show="isLastStep || !skin" class="btn btn-success">
      Cadastrar
    </button>

  </form>
</div>
