<form name="checkoutForm" ng-submit="submit()">
  <div class="alert alert-success fade">
    <strong>Cadastro concluído com sucesso!</strong>
  </div>

  <div class="page-header">
    <h1>Dynamic form</h1>
  </div>



  <div ng-repeat="field in fields">
    <label for="{{field.name}}">{{field.label}}</label>
    <checkout-field class="form-group" name="{{field.name}}">
    </checkout-field>
    <span class="help-block">{{field.help}}</span>
  </div>

  <button ng-show="!isFirstStep" type="button" ng-click="previousStep()" class="btn btn-warning">
    Anterior
  </button>

  <button ng-show="!isLastStep" type="button" ng-click="nextStep()" class="btn btn-warning">
    Próximo
  </button>

  <button ng-show="isLastStep" class="btn btn-success">
    Cadastrar
  </button>

</form>
